body {
    margin: 0 auto;
}

header {
    background: linear-gradient(45deg, lightblue, darkblue);
    /* padding: 0em; */
}

header, h1 {
    text-align: center;
    font-weight: bold;
    color:white ;
}

button {
    width:95%;
    text-align: center;
}